
<div class="balls-and-strikes flex flex-col">
    <div class="flex space-x-1 items-center">
    <div class="text-base w-5">B:</div>
    {{#repeat count=4 start=1}}
        {{#gte count.balls @index}}
        {{> circle_filled}}
        {{else}}
        {{> circle_open}}
        {{/gte}}
    {{/repeat}}
    </div>

    <div class="flex space-x-1 items-center">
    <div class="text-base w-5">S:</div>
    {{#repeat count=3 start=1}}
        {{#gte count.strikes @index}}
        {{> circle_filled}}
        {{else}}
        {{> circle_open}}
        {{/gte}}
    {{/repeat}}
    </div>

    <div class="flex space-x-1 items-center">
    <div class="text-base w-5">O:</div>
    {{#repeat count=3 start=1}}
        {{#gte count.outs @index}}
        {{> circle_filled}}
        {{else}}
        {{> circle_open}}
        {{/gte}}
    {{/repeat}}
    </div>
</div>
