{{#if plays}}
<h3 class='text-lg mt-4'>Last Scoring Plays</h3>

<table class='mt-2 text-base'>
  {{#each plays as |play|}}
    <tr>
      <td
        class='pr-4 align-top whitespace-nowrap'
      >{{play.inningDescription}}</td>
      <td>{{play.description}}</td>
      <td class='pl-4 align-top whitespace-nowrap'>{{play.score}}</td>
    </tr>
  {{/each}}
</table>
{{/if}}
