<div class="h-16 w-20">
  <div class="ml-3 mt-3 inline-flex flex-col -space-y-1">
    <div class="flex justify-center items-center">
      {{#includes runners 2}}
      {{> base_filled}}
      {{else}}
      {{> base_open}}
      {{/includes}}
    </div>
    <div class="flex space-x-4">
      {{#includes runners 3}}
      {{> base_filled}}
      {{else}}
      {{> base_open}}
      {{/includes}}

      {{#includes runners 1}}
      {{> base_filled}}
      {{else}}
      {{> base_open}}
      {{/includes}}
    </div>
  </div>
</div>
