<div class='flex items-center space-x-2'>
  <div class='w-2'>
    {{#if team.isUp}}
      <div class='bg-black w-2 h-2 rounded-full'></div>
    {{/if}}
  </div>
  <div class='p-1 w-16'> {{team.name}}</div>
  <div class='font-bold p-1 w-8 text-center'>{{team.runs}}</div>
  <div class='font-bold p-1 w-8 text-center'>{{team.hits}}</div>
  <div class='font-bold p-1 w-8 text-center'>{{team.errors}}</div>
</div>
