<div>
  <div class='flex space-x-2'>
    <div class='w-2'></div>
    <div class='w-16'></div>
    <div class='w-8 text-base text-center'>R</div>
    <div class='w-8 text-base text-center'>H</div>
    <div class='w-8 text-base text-center'>E</div>
  </div>
  {{> scorecard_row team=lineScore.away }}
  {{> scorecard_row team=lineScore.home }}
</div>
