<html>
  <head>
    <meta charset="utf-8" />
    <title>Major League Paperball</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="p-4">
    {{{body}}}
    </div>
  </body>
</html>
